<p>mensaje works!</p>
<div class="container">
    <h1>Mensajes</h1>
    <div class="col-sm-7 float-left">
        <table class="table table-dark" style="box-shadow: 10px 10px;">
            <thead style="background-color: black; color: beige;">
                <tr>
                    <th>EmisorID</th>
                    <th>ReceptorID</th>
                    <th>Mensaje</th>
                    <th>Fecha-Hora</th>
                </tr>
            </thead>
            <tbody>
                <tr >
                    <td>1</td>
                    <td>1</td>
                    <td>hola mundo</td>
                    <td>15/10/2021-13:14:15</td>
                    <td><a routerLink="borrar/1">Borrar</a> | <a routerLink="Editar/1">Editar</a> </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
