<p>login works!</p>

<div class="container fluid">
    <div class="body"> 
        
        <form class="login-form">
            <h1>Iniciar sesión</h1>
            <input type="text" class="form-control" name="usuario" placeholder="Usuario" [(ngModel)]="usuario.usuario" >
            <input type="password" class="form-control" name="pass" placeholder="Password" [(ngModel)]="usuario.pass">
            <button type="button" (click)="login()" value="Aceptar" class="btn btn-danger">Ingresar</button> 
            <p>¿Todavía no estas registrado? <a href="registro"> Registrate!</a> </p> 
        </form> 
    </div>
</div>
