<p>login works!</p>
<div class="container fluid">
    <div class="body">
        <form class="login-form">
            <input type="text" class="form-control" placeholder="Usuario" >
            <input type="password" class="form-control" placeholder="Password"  >
            <p>¿Olviste la contraseña?<a href="recuperar"> Click aquí</a></p>
            <button type="button" (click)="login()"  class="btn btn-danger">Ingresar</button> 
            <p>¿Todavía no estas registrado? <a href="registro"> Registrate!</a> </p> 
        </form>
    </div>
</div>